{% block sg_api_credentials_list %}
    <!--suppress HtmlUnknownAttribute -->
    <sw-page class="sg-api-credentials-list">
        {% block sg_api_credentials_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sg_api_credentials_list_smart_bar_header_title %}
                    <h2>
                        {% block sg_api_credentials_list_smart_bar_header_title_text %}
                            {{ $tc('sg-api-credentials.list.title') }}
                        {% endblock %}

                        {% block sg_api_credentials_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                        ({{ total }})
                        </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sg_api_credentials_list_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sg_api_credentials_list_smart_bar_actions_add %}
                    <sw-button variant="primary" :routerLink="{ name: 'sg.api.credentials.create' }">
                        {{ $tc('sg-api-credentials.list.buttonAdd') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sg_api_credentials_list_cardview %}
            <template slot="content">
                <div class="sg-api-credentials-list__content">
                    {% block sg_api_credentials_list_content %}
                        <sw-entity-listing class="sg-api-credentials-list-grid"
                                           v-if="items && total > 0"
                                           :items="items"
                                           :repository="entityRepository"
                                           detailRoute="sg.api.credentials.detail"
                                           :showSeleciton="true"
                                           :isLoading="isLoading"
                                           :columns="columns">

                            {% block sg_api_credentials_list_grid_columns_active %}
                                <template #column-active="{ item, isInlineEdit }">
                                    {% block sg_api_credentials_list_grid_columns_active_inline_edit %}
                                        <template v-if="isInlineEdit">
                                            <sw-checkbox-field v-model="item.active"></sw-checkbox-field>
                                        </template>
                                    {% endblock %}

                                    {% block sg_api_credentials_list_grid_columns_active_content %}
                                        <template v-else>
                                            <sw-icon v-if="item.active" name="small-default-checkmark-line-medium" small
                                                     class="is--active"></sw-icon>
                                            <sw-icon v-else name="small-default-x-line-medium" small
                                                     class="is--inactive"></sw-icon>
                                        </template>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            <template #pagination>
                                {% block sw_order_list_grid_pagination %}
                                    <sw-pagination :page="page"
                                                   :limit="limit"
                                                   :total="total"
                                                   :total-visible="7"
                                                   @page-change="onPageChange">
                                    </sw-pagination>
                                {% endblock %}
                            </template>

                        </sw-entity-listing>
                    {% endblock %}

                    {% block sg_api_credentials_list_empty_state %}
                        <sw-empty-state v-if="!isLoading && total === 0"
                                        :title="$tc('sg-api-credentials.list.contentEmpty')"></sw-empty-state>
                    {% endblock %}

                </div>
            </template>
        {% endblock %}

        {% block sg_api_credentials_list_sidebar %}
            <template #sidebar>
                <sw-sidebar class="sg-api-credentials-list__sidebar">
                    {% block sg_api_credentials_list_sidebar_item %}
                        <sw-sidebar-item
                                icon="default-arrow-360-left"
                                :title="$tc('sg-api-credentials.list.titleSidebarItemRefresh')"
                                @click="onRefresh">
                        </sw-sidebar-item>
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
