{% block sg_api_credentials_detail %}
    <!--suppress HtmlUnknownAttribute -->
    <sw-page class="sg-api-credentials-detail" v-if="item">

        {% block sg_api_credentials_detail_smart_bar_header %}
            <template #smart-bar-header>
                {% block sg_api_credentials_detail_smart_bar_header_title %}
                    <h2>{{ $tc('sg-api-credentials.detail.title') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sg_api_credentials_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block sg_api_credentials_detail_smart_bar_actions_cancel %}
                    <sw-button :disabled="item.isLoading" :routerLink="{ name: 'sg.api.credentials.index' }">
                        {{ $tc('sg-api-credentials.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sg_api_credentials_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="sg-api-credentials-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="processSuccess"
                            variant="primary"
                            :disabled="isLoading || !item.salesChannelId || !item.languageId || !item.shopNumber || !item.customerNumber || !item.apiKey"
                            @process-finish="saveFinish"
                            @click="onClickSave">
                        {{ $tc('sg-api-credentials.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sg_api_credentials_detail_content %}
            <template #content>
                <sw-card-view>
                    {% block sg_api_credentials_detail_content_partner_card %}
                        <sw-card :is-loading="isLoading" v-if="item"
                                 :title="$tc('sg-api-credentials.detail.cardTitle')">

                            {% block sg_api_credentials_detail_content_active %}
                                <sw-switch-field v-model:value="item.active"
                                                 class="sg-api-credentials-detail__item_active"
                                                 :label="$tc('sg-api-credentials.general.active')"
                                                 :help-text="$tc('sg-api-credentials.detail.fieldTitleHelpTextActive')">
                                </sw-switch-field>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_salesChannels %}
                                <sw-entity-single-select v-model:value="item.salesChannelId"
                                                         name="sg-field--api-credentials-salesChannelId"
                                                         required
                                                         entity="sales_channel"
                                                         class="sg-api-credentials-detail__item_sales_channels"
                                                         :label="$tc('sg-api-credentials.general.salesChannel')">
                                </sw-entity-single-select>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_language %}
                                <sg-channel-language-single-select v-model:value="item.languageId"
                                                                   name="sg-field--api-credentials-languageId"
                                                                   required
                                                                   :disabled="!item.salesChannelId"
                                                                   entity="sales_channel"
                                                                   class="sg-api-credentials-detail__item_language"
                                                                   :salesChannelId="item.salesChannelId"
                                                                   :label="$tc('sg-api-credentials.general.language')">
                                </sg-channel-language-single-select>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_customerNumber %}
                                <sw-text-field v-model:value.number="item.customerNumber"
                                               name="sg-field--api-credentials-customerNumber"
                                               type="number"
                                               required
                                               class="sg-api-credentials-detail__item_customerNumber"
                                               :label="$tc('sg-api-credentials.general.customerNumber')"
                                               :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderCustomerNumber')">
                                </sw-text-field>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_shopNumber %}
                                <sw-text-field v-model:value.number="item.shopNumber"
                                               name="sg-field--api-credentials-shopNumber"
                                               type="number"
                                               required
                                               class="sg-api-credentials-detail__item_shop_number"
                                               :label="$tc('sg-api-credentials.general.shopNumber')"
                                               :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderShopNumber')">
                                </sw-text-field>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_apiKey %}
                                <sw-text-field v-model:value="item.apiKey"
                                               name="sg-field--api-credentials-apiKey"
                                               required
                                               class="sg-api-credentials-detail__item_api_key"
                                               :label="$tc('sg-api-credentials.general.apiKey')"
                                               :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderApiKey')">
                                </sw-text-field>
                            {% endblock %}

                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
