{% block sg_api_credentials_detail %}
    <sw-page class="sg-api-credentials-detail" v-if="item">

        {% block sg_api_credentials_detail_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sg_api_credentials_detail_smart_bar_header_title %}
                    <h2>{{ $tc('sg-api-credentials.detail.title') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sg_api_credentials_detail_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sg_api_credentials_detail_smart_bar_actions_cancel %}
                    <sw-button :disabled="item.isLoading" :routerLink="{ name: 'sg.api.credentials.index' }">
                        {{ $tc('sg-api-credentials.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sg_api_credentials_detail_smart_bar_actions_save %}
                    <sw-button-process
                            class="sg-api-credentials-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="processSuccess"
                            variant="primary"
                            :disabled="isLoading || !item.salesChannelId || !item.languageId || !item.shopNumber || !item.customerNumber || !item.apiKey"
                            @process-finish="saveFinish"
                            @click="onClickSave">
                        {{ $tc('sg-api-credentials.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}


        {% block sg_api_credentials_detail_content %}
            <sw-card-view slot="content">

                {% block sg_api_credentials_detail_content_partner_card %}
                    <sw-card :isLoading="isLoading" v-if="item"
                             :title="$tc('sg-api-credentials.detail.cardTitle')">

                            {% block sg_api_credentials_detail_content_active_checkbox_select %}
                                    <sw-field v-model="item.active"
                                              type="switch"
                                              class="sg-api-credentials-detail__item_active"
                                              :label="$tc('sg-api-credentials.general.active')"
                                              :helpText="$tc('sg-api-credentials.detail.fieldTitleHelpTextActive')">
                                    </sw-field>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_sales_channels %}
                                    <sw-entity-single-select v-model="item.salesChannelId"
                                                             required
                                                             entity="sales_channel"
                                                             class="sg-api-credentials-detail__item_sales_channels"
                                                             :label="$tc('sg-api-credentials.general.salesChannel')">
                                    </sw-entity-single-select>
                            {% endblock %}

                            {% block sg_api_credentials_detail_content_customerNumber %}
                                    <sw-text-field v-model="item.customerNumber"
                                                   required
                                                   class="sg-api-credentials-detail__item_customerNumber"
                                                   :label="$tc('sg-api-credentials.general.customerNumber')"
                                                   :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderCustomerNumber')">
                                    </sw-text-field>
                            {% endblock %}

                        {% block sg_api_credentials_detail_content_shop_number %}
                                <sw-text-field v-model="item.shopNumber"
                                               required
                                               class="sg-api-credentials-detail__item_shop_number"
                                               :label="$tc('sg-api-credentials.general.shopNumber')"
                                               :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderShopNumber')">
                                </sw-text-field>
                        {% endblock %}

                        {% block sg_api_credentials_detail_content_api_key %}
                                <sw-text-field v-model="item.apiKey"
                                               required
                                               class="sg-api-credentials-detail__item_api_key"
                                               :label="$tc('sg-api-credentials.general.apiKey')"
                                               :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderApiKey')">
                                </sw-text-field>
                        {% endblock %}
                        {#            <sw-container columns="1fr 1fr" gap="0px 30px"> #}

                        {#                {% block sg_api_credentials_detail_language %} #}
                        {#                <sw-select-field v-model="item.languageId" #}
                        {#                               required #}
                        {#                               class="sg-api-credentials-detail__item_type" #}
                        {#                               :label="$tc('sg-api-credentials.detail.fieldTitleLabelType')" #}
                        {#                               :placeholder="$tc('sg-api-credentials.detail.fieldTitlePlaceholderType')"> #}
                        {#                    <option #}
                        {#                            v-for="(option, key) in languageOptions" #}
                        {#                            :key="key" #}
                        {#                            :value="key" #}
                        {#                    > #}
                        {#                        {{ option.name }} #}
                        {#                    </option> #}
                        {#                </sw-select-field> #}
                        {#                {% endblock %} #}

                        {#            </sw-container> #}

                    </sw-card>
                {% endblock %}

            </sw-card-view>
        {% endblock %}

    </sw-page>
{% endblock %}
