{% block sg_order_detail_sections %}
    <sw-card :title="$tc('sg-order.title')" class="sw-order-delivery-metadata">
        <sw-card-section>
            <sw-container columns="repeat(auto-fit, minmax(180px, 1fr))" gap="0 25px">
                <sw-description-list>
                    {% block sg_order_details_order_number %}
                        <sg-title-content :title="$tc('sg-order.number')"
                                          :content="sgOrder.shopgateOrderNumber">
                        </sg-title-content>
                    {% endblock %}
                    {% block sg_order_details_shipping_sent %}
                        <sg-title-content :title="$tc('sg-order.shipping.isSent')"
                                          :content="sgOrder.receivedData.is_shipping_completed">
                        </sg-title-content>
                    {% endblock %}
                    {% block sg_order_details_shipping_blocked %}
                        <sg-title-content :title="$tc('sg-order.shipping.isBlocked')"
                                          :content="sgOrder.receivedData.is_shipping_blocked">
                        </sg-title-content>
                    {% endblock %}
                    {% block sg_order_details_payment_method %}
                        <sg-title-content :title="$tc('sg-order.payment.method')"
                                          :content="sgOrder.receivedData.payment_method">
                        </sg-title-content>
                    {% endblock %}
                    {% block sg_order_details_payment_transaction_number %}
                        <sg-title-content :title="$tc('sg-order.payment.transactionNumber')"
                                          :content="sgOrder.receivedData.payment_transaction_number">
                        </sg-title-content>
                    {% endblock %}
                    {% block sg_order_details_payment_sent %}
                        <sg-title-content :title="$tc('sg-order.payment.isSent')" :content="sgOrder.isPaid">
                        </sg-title-content>
                    {% endblock %}
                </sw-description-list>
                <sw-description-list>
                    {% block sg_order_details_payment_infos %}
                        <sg-title-content :title="$tc('sg-order.payment.info')">
                            <ul class="sg-list">
                                <!--suppress XmlUnboundNsPrefix -->
                                <li is="sg-key-value"
                                    v-for="(value, key) in sgOrder.receivedData.payment_infos"
                                    v-bind:key="key"
                                    v-bind:label="key"
                                    v-bind:content="value"
                                ></li>
                            </ul>
                        </sg-title-content>
                    {% endblock %}
                </sw-description-list>
                <sw-description-list v-if="sgOrder.receivedData.custom_fields"
                                     v-bind:class="{ 'sg-hidden': sgOrder.receivedData.custom_fields.length === 0 }">
                    {% block sg_order_details_custom_fields %}
                        <sg-title-content :title="$tc('sg-order.customFields.title')">
                            <ul class="sg-list">
                                <!--suppress XmlUnboundNsPrefix -->
                                <li is="sg-key-value"
                                    v-for="(customField) in sgOrder.receivedData.custom_fields"
                                    v-bind:key="customField.internal_field_name"
                                    v-bind:label="customField.label"
                                    v-bind:content="customField.value"
                                ></li>
                            </ul>
                        </sg-title-content>
                    {% endblock %}
                </sw-description-list>
            </sw-container>
            <sw-alert variant="warning" v-if="hasShopgateCoupon">
                <p>{{ $tc('sg-order.messages.shopgateCouponNotSupported') }}</p>
            </sw-alert>
        </sw-card-section>
    </sw-card>
{% endblock %}
