#sg-api-credentials {

  .sw-settings-item__icon {
    margin-left: 2px;
    margin-right: 4px;

    .sg-logo {
      width: 32px;
      height: 32px;
    }

    .cls-1 {
      clip-path: url(#clippath);
    }

    .cls-2 {
      fill: none;
    }

    .cls-3 {
      fill: url(#Unbenannter_Verlauf_6);
    }

  }

}
