<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basic Configuration</title>
        <input-field type="bool">
            <name>isActive</name>
            <label>Enable</label>
        </input-field>
        <input-field>
            <name>customerNumber</name>
            <label>Customer number</label>
        </input-field>
        <input-field>
            <name>shopNumber</name>
            <label>Shop number</label>
        </input-field>
        <input-field>
            <name>apiKey</name>
            <label>API key</label>
        </input-field>
    </card>
    <card>
        <title>Catalog</title>
        <title lang="de-DE">Katalog</title>
        <input-field type="bool">
            <name>isLiveShopping</name>
            <label>Live Shopping</label>
            <label lang="de-DE">Live-Shopping</label>
            <helpText>This will apply custom prices from the App to the cart and order to allow the Shopgate Live Shopping feature</helpText>
            <helpText lang="de-DE">
                Überschreibt Produktpreise aus der App im Warenkorb und Bestellung, um abweichende Produktpreise für Shopgate Live Shopping zu ermöglichen
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>isFlysystem</name>
            <label>Flysystem writer</label>
            <helpText>Less performant alternative. Enable only if your system disallows file writing operations.
            </helpText>
        </input-field>
        <input-field type="multi-select">
            <name>productTypesToExport</name>
            <label>Product types to be exported</label>
            <options>
                <option>
                    <id>simple</id>
                    <name>Simple</name>
                </option>
                <option>
                    <id>variant</id>
                    <name>Variant</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
