{% block sg_config_api_notice %}
    <div class="sg-config-api-notice">
        <sw-container columns="1fr">
            <sw-alert
                    v-if="!hasConfigs"
                    variant="warning"
                    appearance="notification"
                    :closable="false">
                {{ $tc('sg-config-api-notice.notice') }}
                <router-link to="/sg/api/credentials/index">
                    {{ $tc('sg-config-api-notice.linkText') }}
                </router-link>
            </sw-alert>
        </sw-container>
    </div>
{% endblock %}
